.banner {
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  object-fit: cover;
  z-index: -1;
}

.heading {
  color: white;
  font-size: 2rem;
  padding: 1.2rem;
}

.description {
  color: white;
  font-size: 1.2rem;
}

.controls {
  padding: 3rem 0 0;
  display: flex;
  gap: 1.5rem;
}

.add {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px #ffffff;
  color: white;

  &:hover {
    box-shadow: inset 0 0 0 2px #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
