.products {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  background-color: #dedede;
  height: 250px;
  position: relative;
}

.imageWrapperSingleItem {
  height: 500px;
}

.clickableImageWrapper {
  height: 300px;
}

.image {
  object-fit: cover;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.like {
  z-index: 1;
}

.description {
  line-height: 1.4;
}

.price {
  font-weight: bold;
  padding-top: 5px;
}

.location {
  display: flex;
  font-size: 14px;
  gap: 3px;
  padding: 5px 0;
}

.delete {
  display: flex;
  justify-content: end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: darkred;
}

.productPreview {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  > :last-child:nth-child(odd) {
    grid-column: span 2;
  }
}

.productPreviewDescription {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

