.products {
  display: flex;
  list-style: none;
}

.product {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDescription {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}
